apiVersion: apps/v1
kind: Deployment
metadata:
  name: mediawiki-post-service
  namespace: mediawiki
  labels:
    app: mediawiki-service
    phase: after
spec:
  selector:
    matchLabels:
      app: mediawiki-service
  replicas: 1
  template:
    metadata:
      labels:
        app: mediawiki-service
        phase: after
    spec:
      containers:
        - name: mediawiki-post-service
          image: mediawiki:1.33
          volumeMounts:
          - mountPath: /var/www/html/LocalSettings.php
            name: mwconfig
            subPath: LocalSettings.php
      volumes:
      - name: mwconfig
        configMap:
          name: local-settings